@model Bulk_Email_Sending_Groupwise.Models.Menus

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Menus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MenuName" class="control-label"></label>
                <input asp-for="MenuName" class="form-control" maxlength="20" required />
                <span asp-validation-for="MenuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentID" class="control-label"></label>
                <input asp-for="ParentID" type="number" class="form-control" maxlength="5" required/>
                <span asp-validation-for="ParentID" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" onclick="onsuccessclick()" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function onsuccessclick() {
        alert("Create successfully");
    }
</script>